:root {
    --text: #2d2d2d;
    --blue-main: #0046be;
    --light-gray: #f6f8fb;
    --dark-gray: #6c757d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

header {
    background: var(--gradient-bg);
    color: lightgray;
    padding: 60px 20px;
    text-align: center;
    background-image: 'logo.png' no-repeat top center;
    animation:bounce 2s;
    image-resolution: 260px 120px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-10px);
    }
}

header p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

.btn-primary {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: white;
    color: var(--blue-main);
    font-weight: bold;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    transition: 0.3s;
}

.btn-primary:hover{
    background:  #00a6ff;
}

section {
    background-color: white;
    padding: 40px 20px;
    text-align: center;
  }

  .features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
}

.feature-item {
  max-width: 300px;
  text-align: center;
}

.feature-item i {
  font-size: 40px;
  color: #0046be;
  margin-bottom: 15px;
}

.testimoni {
  background-color: #f6f8fb;
  padding: 40px 20px;
}

.testimoni h2 {
  margin-bottom: 30px;
}

.testimoni-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.testimoni-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  padding: 20px;
  max-width: 300px;
  text-align: left;
  font-size: 0.95rem;
}

.testimoni-box p {
  color: #6c757d;
  margin-bottom: 10px;
}

.testimoni-box strong {
  color: #0046be;
}

.cta {
  padding: 40px 20px;
  text-align: center;
}

  footer {
    background-color: var(--blue-main);
    color: white;
    text-align: center;
    padding: 20px;
  }





